/* font styles */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Azeret Mono", monospace;
}

/* share styles */
.btn-primary{
    font-size: 20px;
    font-weight: 600px;
    color: #0D1321;
    padding: 12px 20px;
    margin-top: 20px;
}
/* banner styles */
.banner {
    max-width: 1440px;
    height: 720px;
    background-image: url('../assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-section-container{
    position: absolute;
    width: 998px;
    height: 581px;
    left: 221px;
    right: 221px;
    top: 157px;
    bottom: 45px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.banner-text-container{
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 998px;
    height: 212px;
}

.banner-title{
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}

.banner-description{
    width: 852px;
    height: 52px;
    margin: 24px 0px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;

}

.btn-contact{
    background-color: rgb(13, 19, 33);;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 21px 24px;
    border-radius: 8px;
    border: none;
}

/* main syles */
main{
    max-width: 1140px;
    margin: 0 auto;
}

main section{
    margin-left: 148px;
    margin-right: 152px;
    padding: 80px 97px;
}

.section-container1{
    margin-left: 292px;
    margin-right: 296px;
    position: static;
    width: 852px;
    height: 113px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 48px 0px;
}

.section-title{
    text-align: center;
}

.section-description{
    width: 852px;
    height: 52px;
    margin: 24px 0px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.section-container2{
    display: flex;
    justify-content: space-between;
    gap: 99PX;
    padding: 48px;
}

.sec-container2-content{
    width: 477px;
    height: 140px;
}

.sec-container2-title{
    width: 477px;
    height: 72px;
    font-size: 24px;
    font-weight: bold;
}

.sec-container2-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

/* current target styles */
.nav-container{
    display: flex;
    margin-right: 24px;

}

nav {
    width: 300px;
    height: 299px;
    padding: 40px;
    margin-right: 20px;
}

nav ul li {
    list-style: none;
}

nav li a {
    font-size: 16px;
    font-weight: 700;
    color: rgb(13, 19, 33);;
    text-align: left;
    text-decoration-line: underline;
}

.nav-title{
    font-size: 24px;
    font-weight: 800;
    width: 284px;
    height: 36px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.nav-description{
    font-size: 16px;
    width: 250px;
    height: 52px;
    line-height: 20px;
    margin-bottom: 30px;
    
}

/* nav container background styles */
.nav-container-bg-1 {
    background-color: rgba(255, 76, 30, 0.05);
}
.nav-container-bg-2{
    background-color: rgba(38, 20, 173, 0.05);
}
.nav-container-bg-3{
    background-color: rgba(178, 160, 45, 0.05);
}